<div class="row">
  <div class="col-md-12">

    <h3>Login</h3>

    <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Username</label>
        <input type="text" formControlName="userName" class="form-control">
        <div *ngIf="submitted && messageForm.controls.userName.errors" class="error">
          <div *ngIf="messageForm.controls.userName.errors.required" class="text-danger">Your username is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" formControlName="password" class="form-control">
        <div *ngIf="submitted && messageForm.controls.password.errors" class="error">
          <div *ngIf="messageForm.controls.password.errors.required" class="text-danger">A password is required
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <div *ngIf="submitted" class="results">
      <div *ngIf="invalidLogin">
        <strong>Attempt to login failed! Try again.</strong>
      </div>
    </div>
  </div>
</div>