<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="#">{{ appTitle }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link active" routerLink="/">Home</a>
        <a class="nav-item nav-link active" routerLink="/products">Products</a>
        <a class="nav-item nav-link active" routerLink="/about">About</a>
      </div>
      <div class="navbar-nav">
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle shopping-cart-button" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-shopping-cart"></i> Shopping cart
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div *ngIf="hasItemsInShoppingCart;else elseBlock">
              <a class="dropdown-item disabled" href="#"><strong class="text-center">Items in cart</strong></a>
              <a class="dropdown-item disabled" href="#" *ngFor="let product of shoppingCart.products">{{product.title}} - {{product.amountProductToCart}} items</a>
              <div class="dropdown-divider"></div>
              <button class="btn btn-secondary mb-2 ml-2" (click)="cleanCart()">Clean cart</button>
              <a class="btn btn-primary ml-2" routerLink="shoppingcart/review">Go to cart review</a>
            </div>
            <ng-template #elseBlock><a class="dropdown-item disabled" href="#">Empty cart</a></ng-template>
          </div>
        </li>
        <a class="nav-item nav-link active signout-button" routerLink="" (click)="logout()"
          *ngIf="isLoggedIn$ | async">Sign out</a>
      </div>
    </div>
  </div>
</nav>